@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Regular.woff2);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "OpenSans";
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

a {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}